<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{projectData.projectName}} - Report for {{startDate}} - {{endDate}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
        <style>
            * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            }
            @page {
            size: landscape;
            }
            body {
            font-family: "Arial", sans-serif;
            font-size: 14px;
            line-height: 1.6;
            color: #333;
            padding: 20px;
            background-color: #fafafa;
            }
            .header {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            border-bottom: 2px solid #ddd;
            padding-bottom: 10px;
            }
            .header img {
            max-width: 100px;
            height: auto;
            }
            h1 {
            font-size: 24px;
            color: #2c3e50;
            }
            p {
            margin-bottom: 10px;
            color: rgba(0, 140, 255);
            }
            strong {
            color: black;
            }
            table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            table th,
            table td {
            padding: 12px;
            text-align: left;
            }

            table thead {
            background-color: rgba(0, 140, 255);
            color: white;
            }
            table tbody tr {
            background-color: white;
            overflow: hidden;
            }
            table tbody tr:nth-child(even) {
            background-color: #e6f2ff;
            }

            table tbody tr td {
            font-weight: bold;
            color: #333;
            }

            .summary {
            margin-top: 20px;
            padding: 15px;
            background-color: #f8f8f8;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            }
            .summary p {
            margin-bottom: 5px;
            font-weight: bold;
            }
            .summary span {
            color: black;
            }
            .opshero-title {
                font-family: "Maven Pro", sans-serif;
                font-weight: 400;
                font-size: 64px;
            }
        </style>
    </head>
    <body>
        <div class="header">
            <img src="https://test-opshero.site:3000/projects/logo" alt="Logo">
            <h1 class="opshero-title">OpsHero</h1>
        </div>
        <p>Date range: <strong>{{startDate}} to {{endDate}}</strong></p>
        <p>Customer(s): <strong>{{#each
                projectData.customerNames}}{{this}}{{#unless @last}},
                {{/unless}}{{/each}}</strong></p>
        <p>Employee(s): <strong>{{#each
                projectData.employeeNames}}{{this}}{{#unless @last}},
                {{/unless}}{{/each}}</strong></p>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Hours</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {{generateHoursTable hours}}
            </tbody>
        </table>

        <div class="summary">
            <p>Total Hours: <span>{{totalHours}}</span></p>
            <p>Total Price: <span>${{totalPrice}}</span></p>
        </div>
    </body>
</html>
